__pycache__/
*.py[cod]
.venv/
*.egg-info/
hw/*.zip
.pytest_cache/
.mypy_cache/

data/*/
run/
models/*.npz
runs/*.json
videos/*.gif
videos/inspect_frames/
assets/ycb/
assets/class_panda/assets/Panda/*.obj
assets/class_panda/assets/Panda/meshes/ycb/
assets/ycb/downloads/

!data/README.md
!models/README.md
!runs/README.md
!videos/README.md
